.customTextField {
  margin-bottom: 20px;
}

/* 1. تخصيص الليبل في حالته العادية */
.customTextField :global(.MuiInputLabel-root) {
  color: rgba(1, 1, 1, 0.5);
  font-size: 12px;
  transition: all 0.3s; /* حركة ناعمة */
}

/* 2. تخصيص الليبل عند الضغط (Focused) أو عندما يرتفع (Shrink) */
.customTextField :global(.MuiInputLabel-root.MuiInputLabel-shrink) {
    color: rgba(1, 1, 1, 0.5) !important; /* لون أزرق مثلاً */
  font-size: 12px;
  transform: scale(1)
}

/* 3. تخصيص الخط السفلي العادي */
.customTextField :global(.MuiInput-underline:before) {
  border-bottom-color: #111;
}

/* 4. تخصيص الخط السفلي عند تمرير الماوس (Hover) */
.customTextField :global(.MuiInput-underline:hover:not(.Mui-disabled):before) {
  border-bottom-color: #111;
  border-bottom-width: 1px;
}

/* 5. تخصيص الخط السفلي عند الضغط (Active Line) */
.customTextField :global(.MuiInput-underline:after) {
  border-bottom-color: #111;
    border-bottom-width: 1px;

}

/* 6. تخصيص النص الذي يكتبه المستخدم */
.customTextField :global(.MuiInputBase-input) {
  color: #333;
  padding: 8px 0;
  font-size: 11px;
}


/* 1. الحاوية الأساسية للحقل - نضبط الشفافية الافتراضية هنا */
.customTextField1 {
  margin-top: 32px;
  margin-bottom: 25px;
  transition: opacity 0.3s ease; /* حركة ناعمة لتغير الشفافية */
  opacity: 1; /* شفافية الجملة كاملة في الحالة العادية */
}

/* 2. الهوفر للجملة كاملة (تتغير الشفافية عند التأشير على أي جزء من الحقل) */
.customTextField1:hover {
  opacity: 0.8; /* تصبح واضحة تماماً عند الهوفر */
}
