* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
element.style {
    --Paper-shadow: 0px 0px 0px -0px rgba(0,0,0,0),0px 0px 0px 0px rgba(0,0,0,0),0px 1px 10px 0px rgba(0,0,0,0.12);
}
